@using WebApplication4.ViewModels

@model TogetherVM

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://code.edu.az/wp-content/uploads/2022/11/Cavid-Asadullayev.png">
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest">Full-Stack</h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">Javid Asadullayev</h1>
                    <div class="flex mb-4">
                    </div>
                <p class="leading-relaxed">Proqramlaşdırma təhsilini Code Academy-də alan Cavid bakalavr təhsilini isə İqtisad Universitetinin Biznesin idarəedilməsi ixtisası üzrə tamamlamışdır. İlk iş yeri CA Supply şirkəti olmuş, orada 1 il Satınalma Menecerinin köməkçisi vəzifəsində işləmişdir. Code Academy-də təhsilini uğurla bitirdikdən sonra Akademiyada mentor olaraq fəaliyyətinə davam etmişdir. Proqramlaşdırma sahəsində Front end və Back end bilikləri və təcrübələrini inkişaf etdirmək məqsədilə “Starex” şirkətinin vebsaytını hazırlamışdır. Əlavə olaraq tanınmış kitab mağazalarından olan “Bakumoz” şirkətinin e-commerce vebsaytını və  texno musiqi növü üzrə istiqamətlənən “Bermooda” təşkilatının vebsaytını full stack olaraq bitirmişdir. Daha sonra isə Müəllim Yetişdirmə Proqramına qoşulmuş və uğurla başa vurması nəticəsində hazırda Akdemiyamızda Proqramlaşdırma üzrə İnstruktor olaraq fəaliyyətini davam etdirir.</p>
                </div>
            </div>
        </div>
    </section>
